#right{
    height:100vh;
    overflow-y: scroll;
    scrollbar-width: 0;
    background-color: white;
}

.welcome-friend{
    margin-top: 50px;
    text-align: center;
}

.welcome-user{
    margin-top: 50px;
}

.add-blog{
    float: right;
    color: white;
}
.add-blog:hover{
    color: white;
}

.read,.read:hover{
    background-color: rgb(126, 242, 143);
    border: 0;
}
.edit,.edit:hover{
    background-color: rgb(225, 157, 31);
    border: 0;
}

.delete,.delete:hover{
    background-color: red;
    border: 0;
}

h4,h5{
    float: left;
}

h2{
    text-align: center;
}
.head {
    margin-top: 20px;
    margin-bottom: 50px;
    height:150px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 10px 10px 10px grey;
}

.post {
    margin-top: 20px;
    height:200px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 10px 10px 10px grey;
    text-align: center;
}

#right .row{
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

#right .col-4{
    text-align: center;
}

.text-col{
    color:white;
}

.temp{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.confirm{
    display: flex;
    justify-content: center;
}

.delete-post-display{
    margin-top: 100px;
}
.confirm-buttons{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 50px;
}

.blog-likes-chart > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: white;
    width: auto;
    height: auto;
}